<!-- Footer-->
<footer class="py-3 bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <p class="text-center text-white">
                    About us
                </p>
            </div>
            <div class="col-md-4">
                <p class="text-center text-white">
                    Copyright &copy; XYZ Online 2021
                    
                </p>

            </div>
            <div class="col-md-4">
                <b><img src="assets/instagram.png" class="mx-4"></b>
                <b><img src="assets/facebook.png" class="mx-4"></b>
                <b><img src="assets/twitter.png" class="mx-4"></b>
                <b><img src="assets/whatsapp.png" class="mx-4"></b>
                
            </div>
        </div>
    </div>
</footer>