<!-- <link rel="preconnect" href="https://fonts.gstatic.com"> -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">        
        <img src="assets/hero.jpg" class="hero-image " alt="">
        <div class="hero-text">
        <h1 style="font-size:70px;" class="text-focus-in"><img src="assets/navlogo.png" class="img-fluid w-75"></h1>
        <br>
        <a class="btn text-focus-in" href="products">Lets Shop</a>
        </div>

        <h2 class="text-center mt-5 roboto">
        New Shoe Arrivals
        </h2>
        <div class="row">
                <div class="col-md-2 mb-5 pb-5">
                <a style="background-color: white;" href="products/view-product/6">
                <img src="assets/s7.jpg" class="img-fluid">
        </a>
                <p class="text-center pt-3"><b>Nike Air force 1</b></p>
                </div>
                <div class="col-md-2 mb-5 pb-5">
                <a style="background-color: white;" href="products/view-product/7">
                        <img src="assets/s8.jpg" class="img-fluid">
                </a>
                <p class="text-center pt-3"><b>Fila Fitness</b></p>
                </div>
                <div class="col-md-2 mb-5 pb-5">
                <a style="background-color: white;" href="products/view-product/8">
                <img src="assets/s9.jpg" class="img-fluid">
        </a>
                <p class="text-center pt-3"><b>Reebok</b></p>
                </div>
                <div class="col-md-2 mb-5 pb-5">
                <a style="background-color: white;" href="products/view-product/9">
                <img src="assets/s10.jpg" class="img-fluid">
        </a>
                <p class="text-center pt-3"><b>Nike Air Zoom</b></p>
                </div>
                <div class="col-md-2 mb-5 pb-5">
                <a style="background-color: white;" href="products/view-product/10">
                <img src="assets/s11.jpg" class="img-fluid">
        </a>
                <p class="text-center pt-3"><b>Nike Lebron XVII</b></p>
                </div>
                <div class="col-md-2 mb-5 pb-5">
                <a style="background-color: white;" href="products/view-product/11">
                <img src="assets/s12.jpg" class="img-fluid">
        </a>
                <p class="text-center pt-3"><b>Puma G-Tag</b></p>
                </div>
        </div>
        <img src="assets/banner.jpg" class="mx-auto" style="background-size: cover;width: 100%;">

        <h1 class="text-center mb-3 mt-5 roboto">
                Our customers Favorites
        </h1>
        <div class="row topshoes mb-5">
                <div class="col-md-6 pb-5">
                        <a href="products/view-product/1" style="background-color: white;">
                        <img src="assets/s5.jpg" class="img-fluid">
                        </a>
                </div>
                <div class="col-md-6 pb-5">
                        <a href="products/view-product/2" style="background-color: white;">
                        <img src="assets/s2.jpg" class="img-fluid">
                        </a>
                </div>
        </div>